<script>
    $(function () {
        $('#header').hide();

        @if(Request.QueryString["f"] == "sso"){
            <text>
                $('#body').css('width', '100%');
                $('#login').css('margin-top', '5%');
                $('#footer').hide();;
            </text>
        }
    });
</script>
<div id="login">
    <div class="title">
        <img src="/images/logo.png" class="logo" />
    </div>
    <div id="form">
        <form action="/login?r=@Request.QueryString["r"]&f=@Request.QueryString["f"]" method="post">
        <table border="0" cellspacing="0" cellpadding="5">
            <tr><td align="right" width="30%">Username:</td>
                <td width="70%" align="left"><input type="text" class="login" name="username" /></td>
            </tr>
            <tr><td align="right">Password:</td>
                <td align="left"><input type="password" class="login" name="password" /></td>
            </tr>
            <tr><td colspan="2" align="right">
                    <input type="submit" class="button blue" value="Login" />
                </td>
            </tr>
        </table>
        </form>
    </div>
</div>